* {
  padding: 0;
  margin: 0;
}


.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F2937;
  color: white;
  height: 10vh;
  padding: 10px;
  padding-left: 20vh;
  padding-right: 20vh;
}

.header ul{
  display: flex;
  align-items: center;
  gap: 10px;
}

li{
  list-style-type: none;
}

.sec1{
  background-color: #1F2937;
  color: white;
  padding-left: 20vh;
  padding-right: 20vh;
  height: 50vh;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  gap: 60px;
}

.sec1 .left{
  width: 100vh;
}

.sec1 .right{
  background-color: grey;
  width: 100vh;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#b1{
  padding: 10px;
  background-color: #3882F6;
  color: white;
  border-radius: 10px;
  margin-top: 20px;
  border: none;
  width: 100px;
}

.left h1{
  font-size: 50px;
}

.sec2{
  height: 60vh;
  padding-left: 25vh;
  padding-right: 25vh;
}

h2{
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1F2937;
}

.boxesarea{
  display: flex;
  gap: px;
  justify-content: space-around;
}

.boxes{
  width: 150px;
}

.box{
  height: 150px;
  width: 150px;
  border: 3px solid #3882F6;
  border-radius: 10px;
}

.boxes p{
  text-align: center;
}

/* ///section 3 */

.sec3{
  background-color: rgb(221, 221, 221);
  height: 40vh;
  padding-left: 35vh;
  padding-right: 35vh;
}

#quote{
  display: flex;
  justify-content: center;
  align-items: end;
  height: 65%;
  font-size: 30px;
  font-style: italic;
}

#author{
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.sec4{
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.sign-up-box{
  height: 50%;
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  background-color: #3882F6;
  border-radius: 10px;
}

.sec4 .right button{
  background-color: #3882F6;
  padding: 10px;
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  width: 100px;
}

.sec4 .left h2{
  color: white;
}

.footer{
  background-color: #1F2937;
  height: 10vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

